export(GKGLatLong)
export(GKGcomentions)
export(GKGcounts)
export(GKGedgelist)
export(GKGextractcameo)
export(fillSeries)
export(gDate)
export(getEventCounts)
export(nameFixer)
export(subsetEventCountry)
export(themeTrend)
export(toneTrend)
export(toner)
export(write.gephi)
